.example-card {
  background-color: #000a2008;
  border-radius: 0.5rem;
  color: #262626bf;
  font-family: Menlo, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  white-space: pre-wrap;
}
