.card-info {
  padding: 2% 4.5%;
  display: flex;
}

.card-info__title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-info__description {
  margin-top: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}

.card-info__items {
  display: flex;
  margin-top: 1%;
  align-items: center;
}

.card-info__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-info__footer-title{
  margin-right: 5%;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  /* identical to box height, or 30px */
  letter-spacing: 0.15px;
}

.card-info__topic {
  display: flex;
  justify-content: space-between;

  .card-info__content {
    flex: 1;
  }
}

.card-info_content{
  flex: 1;
}
