.signin {
  height: 100vh;
  display: flex;
  align-items: center;
  
  .signin_card {
    height: 45%;
    padding-top: 3%;
  }

  .form-container__email-input {
    margin-top: 10%;
  }

  .form-container__password-input {
    margin-top: 8%;
  }

  .form-container__button {
    margin-top: 10%;
  }

  &button {
    color: red;
  }
}

.main-container {
  color: var(--main-background-color);
}

.form-container {
  display: flex;
  flex-direction: column;
}
