.topic-card {
  margin-bottom: 20px;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--black);
  }
}

.topic-card:last-child{
  margin-bottom: 0;
}

.subject-content {
  width: 58%;
}

.subject-content__description {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.15px;
}

.subject-content__tasks-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
