@use '../../app/style/color';

.subjects-page {
  margin-top: 3.5%;
}

.subjects-page__list-subject {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
}

.subjects-page__title {
  margin-bottom: 2%;
}

.subject-card {
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--black);
  }
}

.card-info_subject {
  .card-info__title {
    height: 2.6em;
  }

  .card-info__footer {
    height: 5em;
  }
}
