@use '../../../app/style/color';

.file-upload {
  display: flex;
  margin-top: 3%;
  margin-left: auto;
  width: 30%;
  justify-content: space-between;
}

.file-upload__input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fill-available;
  margin-right: 5%;
}

.file-upload__icon {
  margin-right: 20px;
}

.file-load > div > input {
  display: none;
}

.file-upload__input-loaded {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 8px;
}

.file-upload__button {
  width: fill-available;
}
