.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
}

.header__nav {
  display: flex;
}

.header__profile {
  align-items: center;
}

.header__avatar {
  margin-right: 7.85%;
}
